body {
  background-image: linear-gradient(to right bottom, #337386, #6f35bb);
  margin: 0px;
}
h1 {
  margin: auto;
  text-align: center;
  margin: 40px;
  color: snow;
  font-size: 60px;
}
#player {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgb(214, 169, 23);
  letter-spacing: 3px;
}
.container {
  display: grid;
  background-color: rgba(0, 0, 0, 0.6);
  grid-template-columns: 100px 100px 100px;
  grid-row-gap: 3px;
  grid-column-gap: 3px;
  box-shadow: 2px 2px 40px rgba(30, 30, 0, 0.6);
}
.container > button {
  width: 100px;
  color: #115b88;
  height: 100px;
  background-color: #c98a50;
  font-size: 90px;
  cursor: pointer;
}
.container > button:hover {
  background-color: #da7c25;
}

.container > button:focus {
  outline: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.reload {
  display: flex;
  justify-content: center;
}
.bottom {
  margin-top: 50px;
}

.bottom p{
  color: aquamarine;
  font-weight:bold;
  letter-spacing:2px;
}

#reload {
  padding: 1%;
  border-radius: 30px;
  width:10%;
  border-color: #0073bf;
  background-color: rgba(6, 125, 223, 1);
  color: snow;
  font-weight: bold;
  letter-spacing:2px;
  font-size: 18px;
}
